::-webkit-scrollbar {
    width: 9px;
    height: 9px;
   }
   ::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px;
    box-shadow: inset 7px 7px 12px #e8e8e8;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: radial-gradient(circle, #8cc2ff 2%,#72db8c 94%);
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
   }