/* RIGHT PANEL - MESSAGES */
.ChatPanel{
    flex: 60%;
    position: relative;
    z-index: 100;
    height: 100%;
    overflow: hidden;
}

.messages_section{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: #0d1418; */
    background-color: #e5ddd5;
}
.messages_section_box{
    position: relative;
    z-index: 1;
    flex: 1 1 0;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    order: 2;
    
}
.messages_writing_section{
    background-color: #f0f0f0;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    flex: none;
    order: 3;
    width: 100%;
    min-height: 62px;
}

.mp_header_selected_user{
    padding: 10px 16px;
    display: flex;
    position: relative;
    background-color: #ededed;
    align-items: center;
    width: 100%;
    height: 59px;
}
.mp_user_propic_box{
    padding-right: 15px;
    cursor: pointer;
}
.mp_box_user{
    height: 40px;
    width: 40px;
}
.mp_status{
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
    color: rgb(0 0 0 / 60%);
}
.mp_contact_name_box{
    flex: 1;
}
.mp_settings_section{
    margin-left: 20px;
}
.mp_settings_box{
    display: flex;
    align-items: center;
}
.mp_settings_option{
    padding: 8px;
}
.mp_settings_option > *{
    font-size: 19px;
}

/* texts */

/* writing user input */
.mw_flex{
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 100%;
    min-height: 62px;
    padding: 5px 10px;
    background-color: #f0f0f0;
}
.mw_left_options{
    padding: 5px 10px;
    display: flex;
}
.mw_center_writing{
    padding: 9px 12px 11px;
    margin: 5px 10px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 21px;
    flex: 1 1 auto;
    width: inherit;
    min-width: 0;
    min-height: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
}
.mw_right_mic{
    padding: 5px 10px;
    flex: none;
    min-height: 52px;
    position: relative;
}
.mw_left_options_flex{
    padding: 5px 10px 8px 10px;;
    display: flex;
    align-items: center;
}
.mw_emoji_box{
    margin-right: 12px;
    position: relative;
    display: flex;
    width: 26px;
    transition: width .3s
}
.mw_flex i{
    font-size: 25;
}
.mw_attach_box{
    width: 26px;
    display: flex;
    align-items: center;
}

.mw_searchInput_box{
    font-size: inherit;
}
.mw_searchInput{
    width: 100%;
    top: 7px;
    align-items: center;
    background-color: #fff;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 14px;
}
.mw_right_mic > div{
    padding: 8px 10px;
    display: flex;
    align-items: center
}
.empty_panel{
    height: 100%;
    background-color: rgb(223, 223, 223);
    display: flex;
}
.empty_panel div{
    width: 100%;
    align-self: center;
    text-align: center;
}
.messages_section_flex{
    padding-bottom: 8px;
}
.message{
    margin-bottom: 2px;
    border-radius: 7.5px;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    font-size: 14.2px;
    line-height: 19px;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 95%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.sent{
    align-items: flex-end;
}
.received{
}
.messages_box{
    background-color: white;
    padding: 9px 55px 9px 9px;
    border-radius: 7.5px;
    box-shadow: 0 1px .5px rgba(var(--shadow-rgb),.13);
    position: relative;
    z-index: 200;
}
.sent .timestamp{
    position: absolute;
    top: 18px;
    right: 5px;
    z-index: 200;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: rgb(0 0 0 / 45%);
}
.received .timestamp{
    position: absolute;
    top: 18px;
    right: 5px;
    z-index: 200;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: rgb(0 0 0 / 45%);
}
.timestamp span{
    vertical-align: top;
}
