*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    line-height: 16px;
}
#app {
    position: absolute;
    top: 0;
    left: 0;
}
#app, body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
body{
    color: #4a4a4a;
    user-select: none;
}
.box1 {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box2{
    z-index: 200;
    display: flex;
    width: inherit;
    height: inherit;
    overflow: hidden;
}
.ContactsPanel{
    flex: 30%;
    height: inherit;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    min-width: 260px;
}
.ContactsPanel_box{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.header_user{
    position: relative;
    z-index: 1000;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 59px;
    padding: 10px 16px;
}
.box_user{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
/* .box2_user{
    height: 40px;
    width: 40px;
    cursor: pointer;
} */
.user_section{
    flex-grow: 1;
}
.settings_section{
    flex: none;
    color: white;
}
.settings_box{
    display: flex;
    align-items: center;
}
.settings_option_box{
    padding: 8px;
}
.settings_option > span{
    width: 24px;
    height: 24px;
}
.settings_option{
    display: flex;
    align-items: center;
}
.Getnotified_box{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}
.Getnotified_box > div {
    background-color: #9de1fe;
    padding: 13px 12px 14px 13px;
    display: flex;
    align-items: center;
    min-height: 62px;
}
.Getnotified_left{
    margin-right: 15px;
    width: 49px;
    height: 48px;
}
.Getnotified_right{
    height: 42px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.searchInput_section{
    flex: none;
}
.searchInput_section_box{
    background-color: #f6f6f6;
    border-bottom: 1px solid #242d32;
    position: relative;
    z-index: 100;
    flex: 1;
    height: 49px;
    padding: 5px 12px;
}
.searchInput_section button{
    left: 24px;
    position: absolute;
    top: 12px;
    z-index: 100;
    height: 24px;
    width: 24px;
    flex: 1;
}
.searchInput_section i {
    font-size: 14px;
}
.searchInput_box{
    font-size: inherit;
}
.searchInput{
    padding-left: 65px;
    width: 100%;
    top: 7px;
    align-items: center;
    height: 40px;
    background-color: #fff;
    border-radius: 18px;
    outline: none;
    overflow: hidden;
    font-size: 14px;
    border: none;
}

button{
    outline: none;
    padding: 0;
    cursor: pointer;
    background: none;
    border: 0;
}

.contactslist_section{
    z-index: 1;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}
.contactslist_box{
    font-size: inherit;
}
.contactslist_box2{
    pointer-events: auto;
}
.contacts_list{
    font-size: inherit;
}
.contact_box_left{
    padding: 0 15px 0 13px;
    display: flex;
    flex: none;
    align-items: center;
}
.contact_box{
    height: 72px;
}
.contact_box2{
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 72px;
    pointer-events: all;
}

.contact_propic_box{
    height: 49px;
    width: 49px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.contact_propic_box2{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    
}
.contact_propic{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: lightcoral;
}
.contact_box_right{
    padding-right: 15px;
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
}
.contact_box_right_up{
    text-align: left;
    display: flex;
    align-items: center;
}
.contact_name{
    font-size: 17px;
}
.contact_box_right_down{
    margin-top: 2px;
    display: flex;
    align-items: center;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.60);
}
.contact_lastmessage_box{
    flex-grow: 1;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.if_lasttext_checked{
    font-size: inherit;
}
.if_lasttext_pic{
    font-size: inherit;
}
.contact_lastmessage_box{
    opacity: 0.8;
}
.contact_lastmessage_box{
    text-align: left;
    flex-grow: 1;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contact_icon_box{
    flex: none;
    max-width: 100%;
    font-size: 12px;
    line-height: 20px;
}
i {
    color: #919191;
}



